@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton+SC&family=Berkshire+Swash&family=Bokor&family=Courgette&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Fruktur:ital@0;1&family=Lavishly+Yours&family=Lilita+One&family=Lobster&family=Pacifico&family=Paprika&family=Rowdies:wght@300;400;700&family=Rubik+Mono+One&family=Rubik+Vinyl&family=Spicy+Rice&display=swap');

h2 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
  }
  