@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton+SC&family=Berkshire+Swash&family=Bokor&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Fruktur:ital@0;1&family=Lavishly+Yours&family=Lilita+One&family=Lobster&family=Pacifico&family=Paprika&family=Rowdies:wght@300;400;700&family=Rubik+Mono+One&family=Rubik+Vinyl&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton+SC&family=Berkshire+Swash&family=Bokor&family=Courgette&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Fruktur:ital@0;1&family=Lavishly+Yours&family=Lilita+One&family=Lobster&family=Pacifico&family=Paprika&family=Rowdies:wght@300;400;700&family=Rubik+Mono+One&family=Rubik+Vinyl&family=Spicy+Rice&display=swap');




h3 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 800;
    font-style: normal;
  }
b {
    font-family: "Courgette", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: larger;
  }
  

/* From Uiverse.io by G4b413l */ 
.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
   }
   
   .buttonDownload:hover {
    background-color: #45a21a;
    color: white;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: #cdefbd;
   }
   
   .buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }
   }
   /* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.04em;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 90px;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
  