<div class="row">
    <div class="container mt-3">
        <div class="row mt-5">
    <div class="col-6">
        <img [src]="movie.image" alt="" height="500px" width="500px" style="padding: 9px;">
        <div class="d-flex">
            <button (click)="toDownload()" class="buttonDownload mt-4 mb-5 ms-2" >Download</button>
            <button (click)="SavedRecipe()" class="bookmarkBtn mt-4 " style="margin-left: 260px;">
                <span class="IconContainer">
                  <svg viewBox="0 0 384 512" height="0.9em" class="icon">
                    <path
                      d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
                    ></path>
                  </svg>
                </span>
                <p class="text">Save</p>
              </button>

        </div>
    </div>
    <div class="col-6 ">
        <h3 class="mt-5">{{movie.title}}</h3>
        <h6 class="mt-5" ><b>Year: </b>{{movie.year}}</h6>
        <h6 class="mt-3"><b>genre: </b>{{movie.genre}}</h6>
        <h6 class="mt-3"><b>Rating: </b>{{movie.rating}}</h6>
        <h5 class="mt-3"><b>Summary: </b>{{movie.description}}</h5>  
        <h5 class="mt-3">Watch Movie: <a [href]="movie.imdb_link">Link</a></h5>    
    </div>
    </div>
    <div>
        <h4>Recommentations:</h4>
    </div>
</div>
</div>