<div class="row">
    <div class="col-6">
        <img src="" alt="">
        <div>
            download 
            save 

        </div>
    </div>
    <div class="col-6 ">
        <h3 class="mt-5">title</h3>
        <h6 ><b>Year:</b>2024</h6>
        <h6 ><b>Runtime:</b>24min</h6>
        <h6 ><b>genre:</b>Action</h6>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, adipisci. A perferendis quasi iste consectetur vitae, cum, nisi recusandae ratione molestiae eius nihil aut corrupti ducimus minus alias rem. Qui.</h5>
        <div>
            <h4>cast:</h4>
            <ul>
                <li>sandra</li>
            </ul>
        </div>
    </div>
    <div>
        <h4>Recommentations:</h4>
    </div>
</div>